<%- include('../partials/header.ejs') %>
<h1> Welcome to Your profile, <%= user.name %></h1>
<p>Enjoy using our app!</p>
<p>Here are your favorite recipes:</p>


<div class="row">
  <%user.recipes.forEach(recipe => { %>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.label %></h5>
        <p class="card-text"><a href="<%= recipe.url %>">Click for Directions</a></p>
        <label for="comment">Comment:</label>
        <div class="mt-2">
          <% recipe.comments.forEach(comment => { %>
            <ul>
            <li><%= comment.comment %></li>
            </ul>
            <form method="POST" action="/favorites/<%=comment.id%>/?_method=Put">
              <input type="text" name="comment" value="<%=recipe.commentId%>">
              <button type="submit" class="btn btn-secondary btn-sm">Edit</button>
            </form>
          <% }) %>
          
          <form method="POST" action="/favorites/<%=recipe.id%>">
            <textarea name="comment" class="form-control" rows="5"></textarea>
            <button class="btn btn-primary btn-sm" id="submit-comment">Submit</button>
          </form>

          <br />
          <form method="POST" action="/favorites/<%=recipe.id%>/?_method=Delete">
            <input type="submit" value="delete" class="btn
            btn-primary">
            <!-- <a href="/favorites/:recipeid" class="btn btn-primary">Remove</a> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

 

<p>Click this link to add recipes to your profile!</p>
<a href="../recipes">Search</a>
<br />
<a href="./logout">Log Out</a>





<%- include('../partials/footer.ejs') %>