<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>

<div style="margin:0 0 8px 2.5vw">
  <h1 class="text-center">Search for the ingedients of you favorite dishes</h1>
<!-- <a href="../favorites">Home</a>
<a href="./users/logout">Log Out</a> -->
</div>
<div class="mx-3">
<div class="container-fluid">
    <form method="GET" class="d-flex" role="search">
      <input name="search" class="form-control me-2" type="search" placeholder="Search for ingredients" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  </div>


  <% if (recipes.length > 0) { %>
    <div class="row" style="margin: 1vw">
      <% recipes.forEach(recipe => { %>
      <div class="col-3 mb-3">
        <form method="POST" action="/recipes/<%=recipe.recipe.label%>">
          <div class="card">
            <img src="<%= recipe.recipe.image %>" class="card-img-top" alt="<%= recipe.recipe.label %>">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.recipe.label %></h5>
              <ul class="list-group list-group-flush">
                <% recipe.recipe.ingredientLines.forEach(ingredient => { %>
                  <li class="list-group-item"><%= ingredient %></li>
                  <% }) %>
                </ul>
              </form>
              <a href="<%= recipe.recipe.url %>"><h6>Cooking Instructions</h6></a>
              <button class="btn btn-primary">Save Recipe</button>
              <div class="form-group">
                <input type="hidden" name="url" value="<%=recipe.recipe.url%>">
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <%} else if (recipes.length = 0) { %>
          <p style="margin: 0 auto;">Search Your Favorite Recipes.</p>
          <% } %>
          


<%- include('../partials/footer.ejs') %>