<%- include("../partials/header.ejs") %>

<h1>Search for the ingedients of you favorite dishes</h1>
<div class="mx-3">
<div class="container-fluid">
    <form method="GET" class="d-flex" role="search">
      <input name="search" class="form-control me-2" type="search" placeholder="Search for ingredients" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  </div>


  <% if (recipes.length > 0) { %>
    <div class="row">
      <% recipes.forEach(recipe => { %>
        <div class="col-3 mb-3">
          <div class="card">
            <img src="<%= recipe.recipe.image %>" class="card-img-top" alt="<%= recipe.recipe.label %>">
            <div class="card-body">
              <h5 class="card-title"><%= recipe.recipe.label %></h5>
              <ul class="list-group list-group-flush">
                <% recipe.recipe.ingredientLines.forEach(ingredient => { %>
                  <li class="list-group-item"><%= ingredient %></li>
                  <% }) %>
                </ul>
                <form method="POST" action="/recipes/<%=recipe.recipe.label%>">
                <button class="btn btn-primary save-recipe" data-recipe-id="<%= recipe.recipe.uri %>">Save Recipe</button>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <%} else { %>
      <p>No recipes found.</p>
      <% } %>
    </form>
  


<%- include('../partials/footer.ejs') %>